/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.info {
    background-color: rgb(5, 141, 5);
    color:  white;
}

.error {
    background-color: red;
    color:  white;
}

.warn {
    background-color: orange;
    color:  white;
}